@page
@model Excercise3ASP.Pages.StudentRecordModel
@{
}
<div asp-validation-summary="All" class="alert-danger font-italic"></div>
<div class="container bg-secondary">
        <h1>Fill up form for Intramurals Tshirt</h1>
        <form method="post">
            <div class="form-group">
                <label>Id Number</label>
                <input class="form-control" asp-for="StudentRegistrationForm.Idnumber" />
            </div>
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" asp-for="StudentRegistrationForm.Name" />
            </div>
            <div class="form-group">
                <label>Course</label>
                <input class="form-control" asp-for="StudentRegistrationForm.Course" />
            </div>
            <div class="form-group">
                <label>Year</label>
                <input class="form-control" asp-for="StudentRegistrationForm.Year" />
            </div>
            <div class="form-group">
                <label>TshirtColor</label>
                <input class="form-control" asp-for="StudentRegistrationForm.TshirtColor" />
            </div>
            <div class="form-group">
                <label>Size</label>
                <input class="form-control" asp-for="StudentRegistrationForm.Size" />
            </div>
            <div class="form-group">
                <label>AmountPaid</label>
                <input class="form-control" asp-for="StudentRegistrationForm.AmountPaid" />
            </div>
            <button class="btn btn-primary btn-block" type="submit">Save</button>
            &nbsp;
        </form>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID NUMBER</th>
            <th>NAME</th>
            <th>COURSE</th>
            <th>YEAR</th>
            <th>TSHIRT COLOR</th>
            <th>SIZE</th>
            <th>AMOUNT PAID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.studentRegistrationForms) { 
            <tr>
                <td>@student.Idnumber</td>
                <td>@student.Name</td>
                <td>@student.Course</td>
                <td>@student.Year</td>
                <td>@student.TshirtColor</td>
                <td>@student.Size</td>
                <td>@student.AmountPaid</td>
            </tr>
        }
    </tbody>
</table>